
.name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height:80vh;
  width: 100vw;
  font-size: 2em;
  perspective: 1000px;
  position: relative;
  margin-top: 40px;
}

.nameText {
  font-size: 100px;
  color: rgb(26, 26, 26);
  position: absolute;
  top: 0;
}

@media (max-width: 700px) {
  .nameText {
    font-size: 1.4em;
  }

  .name{
    height: 60vh;
  }
}