
.name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height:110vh;
  width: 100vw;
  font-size: 2em;
  perspective: 1000px;
  position: relative;
  margin-top: 40px;
}

.nameText {
  font-size: 100px;
  color: black;
  position: absolute;
  top: 0;
}

