
.name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  font-size: 2em;
height: 90vh;
margin-top: 10vh;
}

.nameText {
  font-size: 1.7em;
  color: rgb(26, 26, 26);
width: 100%;
text-align: center;

}

@media (max-width: 700px) {
.name{
  margin-top: 5vh;

}
  .nameText {
    font-size: 1.4em;
  }
}

