.menu {
  width:10vw;
  height: 40vh;
  position: relative;
  position: fixed;
  bottom: 0;
}

ul {
    position: absolute;
    display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
gap: 3em;
  bottom: 2em;
  margin:0 45% ;
}

li {
  list-style: none;
  color: #22222278;
}


li p {
    margin-top: 8px;
}