.whatsapp{
position: fixed;
bottom: .6em;
right:  .2em;
z-index: 1000;
font-size: 60px;
color: green;
}

.btn{
 all:unset;

}


@media (max-width: 700px) {
    .whatsapp {
      width: 200px;
      margin-right: -100px;
    }
  }


