.about {
  margin-top: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: 100;
  font-size: 1.1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about p {
  align-self: flex-start;
  width: 25%;
  margin-left: 19%;
  color: black;
  height: 0.1em;
  padding: 0;
  position: relative;
  margin-top: 10px;
}

.about img {
  position: absolute;
  top: -30%;
  left: 48%;
  height: 80%;
  width: 40%;
  mix-blend-mode: luminosity;
  z-index: -1;
  clip-path: inset(40% 20% 0 0%); /* top right bottom left */
}

@media (max-width: 700px) {
  .about {
    font-size: 1.3em;
    height: 50%;
    margin-top: 6vh;
  }
  .about img {
    width: 35%;
    height: 100%;
  }
}


