.skillContainer {
  display: block;
  text-align: justify;
  font-size: 2.2rem;
  line-height: 3.5rem;
  width: 90%;
  margin: auto;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.skillContainer::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.char {
  opacity: 1;
}
