.home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10vh;
 
}

.name {
  width: 90vh;
}

.footer {
  height: 10vh;
  width: 100vw;
  z-index: 100;
  
}


