
.home {
 overflow-x: hidden;
 overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}



.logo {
  width: 100%;
  height: 100vh;
}

.open {
  height: 90vh;

}

.next{
  width: 300px;
  height: 150vh;
  background-color: red;
}
