
.home {
 overflow-x: hidden;
 overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}



.logo {
text-align: left;
margin-left: 40px;
  width: 100%;
  height: 15vh;
}

.open {
  height: 90vh;
  margin-left: 20%;

}

.next{
  width: 300px;
  height: 150vh;
  background-color: red;
}
