.headerC {
  background-color: rgb(26, 26, 26);
  margin: 16px;
  border-radius: 50px;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  height: 2vh;
  font-size: 1.1em;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px;
}

ul {
  display: flex;
  gap: 24px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.headerC {
  width: 70vw;
  height: fit-content;
}

/* Styles for tablet and above */
@media (max-width: 700px) {
  .headerC {
    width: 70vw;
    height: 8vh;
    font-size: 1.2em;
    text-align: center;
  }
}
